{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar

	Description:

		Site navigation, related content, and contact info.

	Example:

		{% include layout/sidebar.html %}

{% endcomment %}

<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Search 
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>-->
				
			<!-- Section -->
				<section>
					<div class="mini-posts">
						<article>
							<a href="{{ site.baseurl }}/" class="image"><img src="{{ site.baseurl }}/images/T_M_Logo.png" alt="" /></a>
							<p>When you see my logo, you know I snapped it! I've left my hometown behind to photograph the beautiful people of Los Santos. Come back the day after my livestreams to check out who I found!</p>
						</article>
					</div>
				</section>


			<!-- Menu -->
				<nav id="menu">
					<ul>
						<li><a href="{{ site.baseurl }}/">Homepage</a></li>
						<li><a href="{{ site.baseurl }}/blog">All Posts</a></li>
						<li><a href="https://www.twitch.tv/throwabae">STREAM</a></li>
					</ul>
				</nav>

			<!-- Section -->
				<section>
					<div class="mini-posts">
						<article>
							<a href="{{ site.baseurl }}/" class="image"><img src="{{ site.baseurl }}/images/selfie.jpg" alt="" /></a>
						</article>
					</div>
				</section>

			<!-- Section -->
				<section>
					<header class="major">
						<h2>Who's is running this blog?</h2>
					</header>
					<p>Marie Av is a role playing character played by throwabae. throwabae is a lady who just wants to finally flaunt her newfound confidence.</p>
					<ul class="contact">
						<li class="icon brands fa-twitter"><a href="https://twitter.com/throwabae">throwabae's Twitter</a></li>
						<li class="icon brands fa-twitch"><a href="https://www.twitch.tv/throwabae">throwabae's Twitch</a></li>
						<li class="icon solid fa-eye"><a href="https://www.redbubble.com/people/throwabae">Redbubble Store</a></li>
						<li class="icon solid fa-home"><a href="#">throwabae's Website</a></li>
						<li class="icon brands fa-twitter"><a href="https://twitter.com/throwabae?ref_src=twsrc%5Etfw" 
						class="twitter-follow-button" 
							data-show-screen-name="false" 
							data-show-count="false" 
							data-dnt="false"
						>Follow @throwabae</a>	
						<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
					</ul>
				</section>

			<!-- Section Ads -->
				<section>
					<div class="mini-posts">
						<article>
							<img src="{{ site.baseurl }}/images/ughads.png" alt="" />
							<p><a href="{{ site.baseurl }}/" class="image ad"><img src="{{ site.baseurl }}/images/336x280.png" alt="" /></a></p>
							<p>Ads help me pay for the site.</p>
						</article>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Throwabae. All rights reserved.</p>
				</footer>

		</div>
	</div>